body {
    background-color: #111314;
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}

.body-container {
    position: relative;
    max-width: 600px;
    border-radius: 10px;
    width: 100%;
    /* background-color: #20272b; */

}

.add-b {
    background-color: #00cd40;
    color: #cac5c5;
    width: 50px;
    height: 40px;
    border-radius: 7px;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 200px;
    z-index: 10;
}

.bottom {
    background-color: #191e20;
    max-width: 600px;
    color: grey;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.bottom a {
    cursor: pointer;
    color: grey;
}

.social-links {
    color: #cac5c5;
    display: flex;
}

.social-links i {
    margin-right: 30px;
    cursor: pointer;
}

nav {
    background-color: #191e20;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: grey;
    margin-left: 25px;
}

.call-btn button {
    height: 60px;
    width: 60px;
    background-color: #00cd40;
    border-radius: 30px;
    margin-top: 18px;
}

.call-btn a {
    color: rgb(190, 191, 192);
}

.call-nav {
    display: flex;
    flex-direction: column;
}

.call-nav h3 {
    color: rgb(75, 74, 74);
    margin-left: 20px;
    margin-bottom: 10px;
}

.call-nav h4 {
    color: rgb(75, 74, 74);
    margin-left: 20px;
    margin-top: -5px;
}