* {
    margin: 0px;
}

body {
    background-color: #111314;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.body-container {
    position: relative;
    max-width: 600px;
    border-radius: 10px;
    width: 100%;
    background-color: #20272b;

}


.h2 {
    color: grey;
    margin-left: 25px;
}

nav {
    background-color: #191e20;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    color: #cac5c5;
    display: flex;
}

.social-links i {
    margin-right: 30px;
    cursor: pointer;
}

.bottom {
    background-color: #191e20;
    max-width: 600px;
    color: grey;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.bottom a {
    cursor: pointer;
    color: grey;
}

.add-b {
    background-color: #00cd40;
    color: #cac5c5;
    width: 50px;
    height: 40px;
    border-radius: 7px;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 200px;
    z-index: 10;
}

.-imgs {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.-ims {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}



.new-div h3 {
    color: rgb(82, 81, 81);
}

.new-div h4 {
    color: rgb(82, 81, 81);
    position: absolute;
    bottom: 9px;
    left: 50px;
}

.new-chat {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.new-chat h2 {
    color: gray;

}

.new-chat h5 {
    color: rgb(78, 78, 78);

}


.profile-btn {
    display: flex;
    position: relative;
    justify-content: center;
}

.profile-btn button {
    background-color: gray;
    width: 60px;
    height: 60px;
    border-radius: 30px;

}


/* CHAT LIST STYLE */

.chat-container {
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


.chat-container:hover {
    background-color: #1c2124a1;
    transition: 0.3s;
}

.chat-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.chat {
    margin-left: 15px;
}

.chat p {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 3px;
}

.image-and-chat {
    display: flex;
    align-items: center;
}


.chat-container h5 {
    margin-right: 10px;
    position: relative;
    display: flex;
    top: -10px;
}

hr {
    height: 0.2px;
    border: none;
    background: rgb(64, 64, 64);
    width: calc(100% - 101px);
    display: flex;
    margin-left: auto;
}

.blue-tick {
    color: #5cadc2;
}

.material-symbols-outlined {
    margin-right: 5px;  
}