* {
    margin: 0px;
}

body {
    background-color: #20272b;
}


.h2 {
    color: grey;
    margin-left: 25px;
}

nav {
    background-color: #191e20;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    color: #cac5c5;
    display: flex;
}

.social-links i {
    margin-right: 30px;
}

.bottom {
    background-color: #191e20;
    color: grey;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.bottom a {
    cursor: pointer;
    color: grey;
}

.add-b {
    background-color: #00cd40;
    color: #cac5c5;
    width: 50px;
    height: 40px;
    border-radius: 7px;
    border: none;
    position: absolute;
    right: 5%;
    bottom: 20%;
}

.-imgs {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.-ims {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.new-div img {
    width: 50px;
    height: 50px;
    border-radius: 70%;
}

.new-div a {
    position: absolute;
    bottom: 0%;
    left: 40px;
}

.new-div {
    display: flex;
    position: relative;

}

.new-div h3 {
    color: rgb(82, 81, 81);
}

.new-div h4 {
    color: rgb(82, 81, 81);
    position: absolute;
    bottom: 9px;
    left: 50px;
}

.new-chat {
     
}

.new-chat h2 {
    color: gray;
}

.new-chat h5 {
    color: rgb(78, 78, 78);
}