* {
    margin: 0px;
}

body {
    background-color: #111314;
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}

.statusbody-container {
    position: relative;
    max-width: 600px;
    border-radius: 10px;
    width: 100%;
    /* background-color: #20272b; */

}


.add-b {
    background-color: #00cd40;
    color: #cac5c5;
    width: 50px;
    height: 40px;
    border-radius: 7px;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 200px;
    z-index: 10;
}

.bottom {
    background-color: #191e20;
    max-width: 600px;
    color: grey;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.bottom a {
    cursor: pointer;
    color: grey;
}

.social-links {
    color: #cac5c5;
    display: flex;
}

.social-links i {
    margin-right: 30px;
    cursor: pointer;
}

nav {
    background-color: #191e20;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: grey;
    margin-left: 25px;
}

.status-images h2 {
    display: flex;
}

.status-images img {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin-top: 20px;
}

.status-images a {
    color: grey;
    position: absolute;
    bottom: 10px;
    left: 60px;
    
}

.stats-nav {
    color: rgb(75, 74, 74);
    justify-content: center;
    margin-top: 40px;
    margin-left: 15px;
}


